<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hqs.common.helper.imagebrowser">

    <application
        android:allowBackup="true" android:name=".App">

        <activity android:name=".ImageBrowser$ImageActivity" android:theme="@style/ImageBrowserTheme" />

    </application>

</manifest>